.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    gap: 20px; /* Add space between <h1> and PlayerStatusUpdater */
    margin-bottom: 20px;
}

.header-container h1 {
    margin: 0;
}

.activities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}